[tool.poetry]
name = "stats-arb"
version = "0.0.0"
description = "Statistical arbitrage trading strategy using convex concave programming."
authors = ["Kasper Johansson, Thomas Schmelzer, and Stephen Boyd"]
readme = "README.md"
packages = [{include = "cvx"}]

[tool.poetry.dependencies]
python = "^3.9, <3.12"
numpy = "*"
cvxpy = "*"
#scikit-learn = "*"

[tool.poetry.group.test.dependencies]
pytest = "*"
pytest-cov = "*"
pre-commit = "*"

[tool.poetry.group.dev.dependencies]
seaborn = "^0.12.2"
#dask = "^2023.9.0"
tqdm = "^4.65.0"
matplotlib = "^3.7.1"
#refinitiv-data = "*"
clarabel = "*"
#yfinance = "^0.2.14"
#wrds = "^3.1.6"
#twelvedata = "^1.2.11"
#graphviz = "^0.20.1"
cvxsimulator = "0.7.5"
#loguru = "*"
#numpy_financial = "*"
#mosek = "*"
#cvxcovariance = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
