name: Test

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
  push:

jobs:
  test:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.10']

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: cvxgrp/.github/actions/test@main
        with:
          python-version: ${{ matrix.python-version }}
